body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-link-active {
  /* color: goldenrod; */
  color: #976f5b;
  font-size: 35px;
}

.nav-link {
  color: white;
  /* color: black; */
  font-size: 35px;
}
